h1{
height: 21px;
width: 242px;
left: 152px;
top: 535px;
font-size: 16px;
font-weight: 700;
letter-spacing: 0em;
line-height: 24px;
color: rgb(233, 114, 30);
letter-spacing: 0em;
text-align: left;

}
p{
height: 61px;
width: 247px;
left: 152px;
top: 561px;
font-size: 16px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;

}