img{
height: 300px;
width: 317px;
left: 116px;
top: 44px;
border-radius: 50%;

}
h1{
height: 25px;
width: 178px;
left: 186px;
top: 387px;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: center;



}

h2{
height: 14px;
width: 178px;   
font-size: 13px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: center;
color: rgb(233, 114, 30);
    }