h1{
    height: 21px;
    width: 242px;
    left: 152px;
    top: 660px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

         
}
p{
height: 61px;
width: 247px;
left: 152px;
top: 675px;
font-size: 16px;
font-weight: 300;
line-height: 15px;
text-align: left;

}