*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
margin:0;
font-family: Roboto, Helvetica, Arial, sans-serif;
background-color:rgba(35, 37, 44, 1) ;

}


.container {
  color: rgb(231, 233, 243);

}


